body {
    font-family: 'Lato', sans-serif;
    background-image: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/background.jpg');
    background-position: center fill;
    background-size: cover;
    margin: 0;
}
