body {
  font-family: Copperplate, "Copperplate Gothic Light";
  background-image: url("./assets/background.jpg");
  background-position: center;
}
.sub-title {
  text-align: center;
}

.home {
  text-align: center;
  margin-left: 100px;
  margin-right:100px;
}
